body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Open Sans Condensed", sans-serif;
  background: #130f40;
}

.main{
  border-radius: 25px;
  background: white;
  min-height: 85vh;
}

@media(max-width: 678px){
  .container{
    padding: 0 !important;
    max-width:100% !important;
  }
  .main{
    border-radius: 0px;
  }
}


.languages {
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #130f40;
}
input[type="radio"] {
  margin: 0 50px;
  position: relative;
}

input[type="radio"]::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1000;
  top: 0px;
  left: 0px;
  transform: translate(-50%, -50%);
}

input[type="radio"]:first-of-type::before {
  background-image: url("./icons/united-kingdom.png");
  background-size: cover;
}
input[type="radio"]:nth-of-type(2)::before {
  background-image: url("./icons/poland.png");
  background-size: cover;
}
input[type="radio"]:last-of-type::before {
  background-image: url("./icons/france.png");
  background-size: cover;
}

.theWord {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20vh 5vw;
}

.theWord--text {
  padding: 0 20px;
  font-size: 32px;
}

.button-section {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="button"] {
  background: #130f40;
  border-radius: 15px;
  color: white;
  padding: 40px 90px;
  font-size: 24px;
  -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}
